USE [master]
GO
/****** Object:  Database [Manager]    Script Date: 04/13/2020 09:02:02 AM ******/
CREATE DATABASE [Manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Manager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Manager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Manager]
GO
USE [Manager]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 04/13/2020 09:02:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] NOT NULL,
	[BookTitle] [varchar](50) NULL,
	[BookPrice] [float] NULL,
	[BookQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Books] ([BookID], [BookTitle], [BookPrice], [BookQuantity]) VALUES (3, N'C# for Dummies', 32500, 15)
INSERT [dbo].[Books] ([BookID], [BookTitle], [BookPrice], [BookQuantity]) VALUES (5, N'C# for Begginner', 13000, 100)
INSERT [dbo].[Books] ([BookID], [BookTitle], [BookPrice], [BookQuantity]) VALUES (9, N'Deep in C#', 10000, 36)
USE [master]
GO
