USE [master]
GO
/****** Object:  Database [SaleDB]    Script Date: 04/13/2020 10:51:45 AM ******/
CREATE DATABASE [SaleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SaleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SaleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaleDB]
GO
USE [SaleDB]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04/13/2020 10:51:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](50) NULL,
	[UnitPrice] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [Quantity]) VALUES (1, N'SS Galaxy S22', CAST(3000 AS Decimal(18, 0)), 15)
INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [Quantity]) VALUES (3, N'SS Galaxy J7', CAST(2000 AS Decimal(18, 0)), 15)
USE [master]
GO
